html {
    background: url(mountain2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    background-color: #FEB389;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 999;
    border: 3px;
    border-style: solid;
}

nav a {
    color: #0D1822;
    text-decoration: none;
    padding: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 #CE918E;
    text-decoration: none;
}

h3 {
    color: #0D1822;
    background-color: #ce918ea8;
    font-family: 'gabriola';
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 300px;
    border: 3px;
    border-style: solid;
}

section, article {
    text-align: center;
}

.ingredients {
    color: #0D1822;
    background-color: #feb4897e;
    font-family: 'gabriola';
    font-size: 20px;
    list-style-position: inside;
    list-style-type: none;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 3px;
    border-style: solid;
}

.instructions {
    color: #0D1822;
    background-color: #feb4897e;
    font-family: 'gabriola';
    font-size: 20px;
    list-style-position: inside;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border: 3px;
    border-style: solid;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(110, 110, 112);
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#title {
    text-align:center;
    font-family: 'papyrus';
    font-size: 40px;
    color: #0D1822;
    background-size: 50px;
}

#recipename {
    color: #0D1822;
    background-color: #ce918ea8;
    font-family: 'gabriola';
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 3px;
    border-style: solid;
}

#recipeimage {
    max-width: 60%;
    border: 15px;
    border-style: double;
    border-color:#0D1822;
}
