@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kaushan+Script&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

html {
    background: url(mountain2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    background-color: #FEB389;
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center;
    width: 90%;
    position: sticky;
    top: 0px;
    z-index: 999;
    border: 0.2em;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    color: #0D1822;
    font-size: 1em;
    text-decoration: none;
    padding: 0.58em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 #CE918E;
    text-decoration: none;
}

h3 {
    color: #0D1822;
    background-color: #ce918ea8;
    font-family: 'gabriola';
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    width: 10em;
    border: 0.12em;
    border-style: solid;
}

section, article {
    text-align: center;
}

.ingredients {
    color: #0D1822;
    background-color: #feb4897e;
    font-family: 'gabriola', 'Copperplate', 'fantasy';
    font-size: 1.6em;
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    margin-top: 0.3em;
    margin-left: auto;
    margin-right: auto;
    width: 27em;
    border: 0.15em;
    border-style: solid;
}

.instructions {
    color: #0D1822;
    background-color: #feb4897e;
    font-family: 'gabriola', 'Copperplate', 'fantasy';
    font-size: 1.6em;
    text-align: center;
    list-style-position: inside;
    margin-top: 0.3em;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    border: 0.15em;
    border-style: solid;
}

a.links, a.links:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
}

a.links:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.7em;
}

#title {
    text-align:center;
    font-family: 'papyrus', 'Copperplate', 'fantasy';
    font-size: 2em;
    color: #0D1822;
}

#recipename {
    color: #0D1822;
    background-color: #ce918ea8;
    font-family: 'gabriola', 'Copperplate', 'fantasy';
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    width: 10em;
    border: 0.1em;
    border-style: solid;
}

#recipeimage {
    max-width: 40%;
    border: 0.5em;
    border-style: double;
    border-color:#0D1822;
}

@media (max-width: 480px) {
    html {
        background: url(phonebackground.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #title {
        text-align:center;
        font-family: 'Quintessential', cursive;
        font-size: 1.3em;
        color: #0D1822;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        background-color: #b6b4b3;
        font-size: 1.5em;
        text-align: center;
        width: 80%;
        border: 0.2em;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Quintessential', cursive;
    }
    
    nav a {
        color: #0D1822;
        font-size: 0.5em;
        text-align: center;
        text-decoration: none;
        padding: 0.58em;
    }


    #recipename {
        color: #0D1822;
        background-color: #b6b4b38f;
        font-family: 'Kaushan Script', cursive;
        font-size: 1em;
        text-align: center;
        margin-top: 1.3em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.2em;
        width: 10em;
        border: 0.1em;
        border-style: solid;
    }

    h3 {
        color: #0D1822;
        background-color: #b6b4b38f;
        font-family: 'Kaushan Script', cursive;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.2em;
        width: 10em;
        border: 0.12em;
        border-style: solid;
    }

    .ingredients {
        color: #0D1822;
        background-color: #ffffff8f;
        font-family: 'Bad Script', cursive;
        font-size: 0.8em;
        text-align: center;
        list-style-position: inside;
        list-style-type: none;
        margin-top: 0.3em;
        margin-left: auto;
        margin-right: auto;
        width: 17em;
        border: 0.15em;
        border-style: solid;
    }

    .instructions {
        color: #0D1822;
        background-color: #ffffff8f;
        font-family: 'Bad Script', cursive;
        font-size: 0.8em;
        text-align: center;
        list-style-position: inside;
        margin-top: 0.3em;
        margin-left: auto;
        margin-right: auto;
        width: 17em;
        border: 0.15em;
        border-style: solid;
    }

    a.links, a.links:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1em;
        text-align: center;
    }
    
    a.links:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1em;
        text-align: center;
    }

    #recipeimage {
        max-width: 80%;
        border: 0.5em;
        border-style: double;
        border-color:#0D1822;
    }

}